/* Base styles */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5; /* Soft light gray background */
  color: #333; /* Dark text for contrast */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Results container */
.results-container {
  max-height: 400px; /* Set a max height for the scrollable list */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 1em 2em; /* Add margin for spacing */
  border: 2px solid #ccc; /* Add a light gray border around the container */
  border-radius: 8px; /* Optional: rounded corners for the border */
  padding: 1em; /* Optional: adds padding inside the container */
}

.selected-option-text {
  padding-left: 2em;
}

/* List styles */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0.5em 0;
  padding: 1em;
  background-color: #ffffff;
  /* transition: all 0.3s ease; */
}

li:hover {
  cursor: pointer;
  background-color: #b4aeae; /* Soft blue hover color */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li.active {
  /* background-color: #0056b3; Darker blue for active items */
  color: #000000;
  padding: 3em;
}

li.active:hover{
  /* background-color: #0056b3; Darker blue for active items */
  color: #000000;
  background-color: #ffffff;
  /* padding: 2em; */
}


/* Option styles */



/* Flex and grid containers */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
}

.full-height .grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
  /* background-color: hsla(0, 0%, 16%, 0); */
  background-color: #CCCDCD;
  border-radius: 10px;
  margin: 20px;
  padding: 0.5em;
}



.grid-container .image {
  grid-column: 1;
  display: flex;
  flex-direction: row-reverse;
} 

.grid-container .info {
  grid-column: 2 / 3;
}

.grid-container .difficulty-select {

}
.grid-container .start-button {
  grid-column: 4;
}

.hidden {
  visibility: hidden;
}
.grid-container img {
  max-width: 3em;
  border-radius: 4px;
  margin-right: 1em;
}

.grid-container img.selected-image {
  max-width: 10em;
  
}

li .flex-container {
  justify-content: flex-end;
  margin-top: 1em;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1em;
  background-color: #000000; /* Soft blue background */
  color: #CCCDCD;
  border-radius: 8px;
}

.header-logo-container {
  display: flex;
  flex-direction: column;  /* Stack the image and title vertically */
  align-items: center;     /* Center align the image and title */
  width: 30vw;  /* Set the width of the logo container to 30% of the viewport width */
  max-width: 300px; /* Optional: maximum width to prevent it from growing too large */
}

.header-logo-container img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.header-logo {
  width: 100%; /* Make the logo fill the container width */
  height: auto; /* Keep aspect ratio intact */
  margin-bottom: 0.5em; /* Space between the logo and the title */
}

.header h1 {
  font-size: 2em;
  margin: 0;
  text-align: center; /* Ensure title is centered */
}

/* Search input styles */
.search-input {
  display: flex;
  align-items: center;
  color: #CCCDCD;
  /* background-color: #ffffff; */
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input label {
  margin-right: 1em;
  font-size: 1em;
}

.search-input input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  font-size: 1em;
}

.search-input input:focus {
  outline: none;
  border-color: #007bff; /* Highlight on focus with blue */
}

/* Footer styles */
.footer {
  text-align: center;
  margin-top: 2em;
}

.footer button {
  padding: 0.75em 1.5em;
  margin: 0.5em;
  background-color: #CCCDCD;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer button:hover {
  background-color: #5b6363; /* Darker green for hover effect */
  color: #FFFFFF;
  transform: translateY(-2px);
}

.footer button:active {
  transform: translateY(1px);
}

/* Start button */
.start-button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #50db2a; /* Warm amber for the start button */
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  /* transition: all 0.3s ease; */
}

.start-button:hover {
  background-color: #338f1a; /* Slightly darker amber */
}

.start-button:active {
  background-color: #338f1a; /* Even darker amber */
}

/* Select dropdown styles */
label {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

select {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

select:focus {
  outline: none;
  border-color: #007bff; /* Blue focus border */
}

/* Flex column layout */
.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding-left: 0.5em;
  gap: 2em;
  justify-content: left;
  align-items: center;
  background-color: #e0a800;
}

.puzzle-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.controls-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  
}
.controls-container .info {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
}

.controls-container .home-button {
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.home-button button {
  padding: 0.75em 1.5em;
  margin: 0.5em;
  background-color: #CCCDCD;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls-container button {
  padding: 1em;
  background-color: #FFFFFF;
}

/* Root and App container */
#root, .App {
  width: 100%;
  height: 100%;
}

.flex-container canvas {
  margin-top: 1em;
}

/* Styles for the loading overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears on top of other content */
}

/* Styles for the loading message */
.loading-message {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
